<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
    <title>SafePass</title>
</head>
<body>
    <div>
        <nav class="px-3 flex justify-between">
            <div class=" flex items-center">
                <img class="mx-3 w-20" src="https://www.svgrepo.com/show/104284/password-interface-protection-sign.svg" alt="">
                <h1 class=" mr-3 text-4xl font-bold italic " >SafePass</h1>
            </div>
            <div class=" flex items-center">
                <span class=" mr-3 text-sm">Compartir</span>
                <img class=" mr-3 w-10" src="https://www.svgrepo.com/show/140455/facebook.svg" alt="">
                <img class=" mr-3 w-10" src="https://www.svgrepo.com/show/130096/twitter.svg" alt="">
            </div>
        </nav>
        <section>

        </section>
        <footer>

        </footer>
    </div>
    {% block content %}{% endblock %}
</body>
</html>